<%- include ('partials/header') %>
<body>
  <%- include ('partials/navbar') %>
  <div class="container">
    <hr />
    <h3><%= question.title  %></h3>
    <p><%= question.description %></p>
    <hr />
    <form method="POST" action="/responder">
      <h3>Responda</h3>
      <label>Resposta:</label>
      <textarea 
        name="body" 
        placeholder="Digite sua resposta" 
        class="form-control">
      </textarea>
      <br>
      <input type="hidden" name="questionId" value="<%= question.id %>">
      <button type="submit" class="btn btn-primary">Responder</button>
    </form>
    <hr>
    <h3>Respostas</h3>
    <hr>
    <% answers.forEach(answer => { %>
      <br>
      <div class="card">
        <div class="card-body">
          <p><%=answer.body %></p>
        </div>
      </div>
      <br>
    <% }) %>
  </div>
</body>
<%- include ('partials/footer') %>